
/* Hero text styling */
.h1first, .h1second {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

/* Active class qo‘shilganda animatsiya ishlaydi */
.visible {
  opacity: 1;
  transform: translateY(0);
}

/* just in case only body part was written by Chatgpt)))))))))))) */
body {
  margin: 0;
  min-height: 100vh;
  font-weight: 700;
  background:    
    radial-gradient(1000px 600px at 50% 80%, #2de2e655, transparent 60%),
    #0b0f19;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}
/* just in case only body part was written by Chatgpt)))))))))) */
