
@media (max-width: 1000px) {
.h1second{
    font-size: 43px;
}
.h1first{
    font-size: 40px;
}
}

@media (max-width: 758px) {
a{
    display: none;
}
.name{
    display: block;
}
.attraction{
width: 150px;
height: 60px;
font-size: 26px;
}
.name{
    font-size: 54px;
}
}
@media (max-width: 623px) {
.h1second{
    font-size: 43px;
}
.h1first{
    font-size: 40px;
}
}
@media (max-width: 589px) {
.h1second{
    font-size: 33px;
}
.h1first{
    font-size: 30px;
}
}@media (max-width: 441px) {
.h1second{
    font-size: 16px;
}
.h1first{
    font-size: 14px;
}
.between{
    flex-wrap: wrap;
}
h3{
    font-size: 16px;
}
.name{
    font-size: 35px;
}
.attraction{
    height: 40px;
    width: 100px;
   font-size: 16px;
}
}