button{
    font-weight: 900;
    color: white;
}
.attraction{
    width: 100px;
    height: 40px;
    border-radius: 34px;
border: none;
    background-color: orangered;
}

.between{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.center,.signup{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
   
}

a{
    transition: all 0.5ms ease-in;
     text-decoration: none;
     color: white;
}
.logo {
    display: flex;
    align-items: center;
}
header{
    transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(10px);
}
main{
    margin-top: 29px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
font-size: 28px;

line-height: 1px;

}

.h1first {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}
.h1second{
    color: orangered;
    font-weight: 1000;
    font-size: 67px;
}
main{
    margin-top: 70px;
}
h3{
    font-weight: 300;
    font-size: 24px;
}
.batoon{
    font-weight: 670;
    font-size:large ;
}
.attraction{
    transition: all 0.3s ease-out;
}
.attraction:active{
    transform: scaleX(2);
}
.attraction:hover{
    transform: scale(1.019);

}

a:hover{
    background-color: #155e5f55;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
